.paginator {
  border: 1px solid black;
  width: 170px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: silver;
}

.active {
  border: 1px solid red;
  color: red;
}

.paginator button {
  margin-right: 2px;
}
