.users {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: gray;
  grid-gap: 10px;
  height: 100%;
  padding: 10px;
}

.tools {
  border: 1px solid black;
  padding: 10px;
}

.contactList {
  border: 1px solid black;
  padding: 10px;
}
